body {
    font-family: "Roboto";
}
.main-result {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row;
}
.info-result {
    font-size: 14px;
    height: 75vh;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}
.info-item {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
img {
    max-width: 300px;
    max-height: 400px;
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color:#ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#56999f;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}

::-webkit-scrollbar{
    width: 4px;
}